<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page 2</title>
    <link rel="stylesheet" href="../css/exercises-left.css">
</head>

<body>
    <section>
        <a href="../index.html">Go to home</a>
        <h1>Welcome to Exercises Left</h1>
    </section>
    <!-- exercisesLeft -->
    <section class="exercisesLeft">
        <div class="contain-one">
            <ul class="ul-box-text-sect-one">
                <li><svg class="running-icon" width="25" height="22">
                        <use href="../img/icons.svg#icon-running-stick-figure"></use>
                    </svg></li>
                <li>
                    <h3 class="quote-text">Quote of the day</h3>
                </li>
                <li><svg class="commas-icon" width="24" height="24">
                        <use href="../img/icons.svg#icon-inverted-commas"></use>
                    </svg></li>
                </li>
            </ul>
            <div class="boxAutor">
                <p class="js-quoteText boxTextMidle-sect-one"></p>
                <p class="js-quoteAutor boxTextDown-sect-one"></p>
            </div>
        </div>

        <div class="contain-two-foto">
        </div>
        <div class="contain-three">
            <div class="">
                <ul class="box-three-list">
                    <li><svg class="fluent-icon" width="20" height="20">
                            <use href="../img/icons.svg#icon-fluent_food"></use>
                        </svg></li>
                    <li>
                        <p class="hundr-minutes">110 min</p>
                    </li>
                </ul>
            </div>
            <div class="box-three-down">
                <p class="text-daily-norm">Daily norm of sports</p>
                <p class="text-the-world-health">The World Health Organization recommends at least 150 minutes of
                    moderate-intensity aerobic
                    physical activity throughout
                    the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every
                    day?
                    While it might
                    seem like a high number to hit, dedicating 110 minutes daily to sporting activities may offer
                    unparalleled benefits to
                    physical health, mental well-being, and overall quality of life.</p>
            </div>
        </div>
    </section>

    <script src="../js/exercises-left.js" type="module"></script>
</body>

</html>