<section class="container-button">
  <div class="exercise-section-top-container">
    <h2 class="exercise-section-title">
      Exercise<span class="exercise-section-title-span"></span>
    </h2>
    <div class="exercise-section-search" style="display: none">
      <form class="exercise-section-search-form" >
        <input type="text" name="keyword" placeholder="Search" class="exercise-section-search-input">
        <button type="submit" class="exercise-section-search-submit">
          <svg class="exercise-section-search-svg" width="16" height="16">
            <use href="./img/icons.svg#icon-search"></use>
          </svg>    
        </button>
      </form>
    </div> 
    <ul class="exercise-section-buttons-container">
      <li>
        <button id="bodypart-filter" class="exercise-section-button js-active-filter-button" type="button"
          data-filter="Body%20parts">
          Body parts
          <div class="underline"></div>
        </button>
      </li>
      <li>
        <button id="muscles-filter" class="exercise-section-button" type="button" data-filter="Muscles">
          Muscles
        </button>
      </li>
      <li>
        <button id="equipment-filter" class="exercise-section-button" type="button" data-filter="Equipment">
          Equipment
        </button>
      </li>
    </ul>
  </div>

  <div class="exercise-section-right-container">
    <ul class="exercise-card-list"></ul>

    <p class="exercise-error" style="display: none">Error has occurred</p>
  </div>

  <div class="container-exr">
    <div class="exr-left">
      <load src="partials/exercises-left.html" />
    </div>

    <!-- <div class="exr"> -->
    <div class="category-container">
      <div class="category-cards" id="category-cards"></div>
      <div id="pagination" class="tui-pagination" style="display: ''"></div>
    </div>
    <!-- </div> -->
  </div>

  <!--
  <div>
    <div>ліва частина</div>
    <div class="category-container">
      <div class="category-cards" id="category-cards"></div>
      <div id="pagination" class="tui-pagination"></div>
    </div>
  </div>
-->
</section>
