<section class="favorites-container">
  <h1 class="favorites-title">Favorites</h1>
  <div class="favorites-parts-container">
    <!-- Ліва частина - Микола -->
    <div class="favorites-left">
      <load src="partials/favorites-left.html" />
    </div>

    <div class="favorites-right">
      <p class="favoritesMessage js-favorites-message" hidden>
        It appears that you haven't added any exercises to your favorites yet.
        To get started, you can add exercises that you like to your favorites
        for easier access in the future.
      </p>
      <ul class="favorites-list js-favorites" id="pagination"></ul>
      <!-- <div id="pagination"></div> -->
    </div>
  </div>
</section>
