<footer class="footer">
  <div class="footer-container container">
    <div class="footer-wrap">
      <div>
        <a href="../index.html">
          <svg class="footer-logo" width="132" height="24">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-soc-list">
          <li>
            <a href="https://www.facebook.com/goITclub/" class="footer-socisl">
              <svg width="24" height="24" class="soc-svg">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/goitclub/" class="footer-socisl">
              <svg width="24" height="24" class="soc-svg">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/GoIT" class="footer-socisl">
              <svg width="24" height="24" class="soc-svg">
                <use href="../img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-block-form">
        <p class="footer-title">Transforming your <i>body</i> shape with us</p>

        <form class="footer-form">
          <label for="subscribe-email">
            <p class="subscribe-title">
              Subscribe and learn about new exercises!
            </p>
            <input
              type="email"
              class="form-input"
              name="subscribe-email"
              id="subscribe-email"
              placeholder="Email"
              pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
              required
            />
          </label>
          <button type="submit" class="subscribe-btn">Send</button>
        </form>
      </div>
    </div>
    <div class="footer-text">
      <p>Your Energy. All rights reserved.</p>
      <div class="footer-policy">
        <a href="">Privacy Policy</a>
        <span>&nbsp;/&nbsp;</span>
        <a href="">Terms of Service</a>
      </div>
      <p class="footer-copyright">&copy;2023</p>
    </div>
  </div>
</footer>
