<footer class="footer">
  <div class="footer-container container">
    <div class="footer-wrap">
      <div class="footer-socials">
        <a href="../index.html" class="footer-link-logo">
          <svg class="footer-logo" width="132" height="24">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-soc-list">
          <li>
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-icon"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="icon-facebook"
            >
              <svg width="28" height="28" class="soc-svg">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-icon"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="icon-instagram"
            >
              <svg width="28" height="28" class="soc-svg">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-icon"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="icon-youtube"
            >
              <svg width="28" height="28" class="soc-svg">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-block-form">
        <p class="footer-title">Transforming your <i>body</i> shape with us</p>

        <form class="footer-form">
          <label for="subscribe-input">
            <span class="subscribe-title">
              Subscribe and learn about new exercises!
            </span>
            <input
              type="email"
              class="form-input"
              name="subscribe-input"
              id="subscribe-input"
              placeholder="Email"
              pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
              required
            />
          </label>
          <button id="subscribe-btn" type="submit" class="subscribe-btn">
            Send
          </button>
        </form>
      </div>
    </div>
    <div class="footer-text">
      <p>Your Energy. All rights reserved.</p>
      <div class="footer-policy">
        <span>
          <a href="">Privacy Policy</a>
          <span>&nbsp;/&nbsp;</span>
          <a href="">Terms of Service</a></span
        >
        <p class="footer-copyright">&copy;2023</p>
      </div>
    </div>
  </div>
</footer>
<div class="overlay"></div>
