<div class="backdrop is-hidden" data-first-modal>
  <div class="modal"></div>
</div>

<!-- TODO: Розгорнути модалку -->
<!--  is-hidden -->
<div class="backdrop" data-rating-modal>
  <div class="modal rating">
    <button class="rating-close">
      <svg><use href="../img/icons.svg#icon-btn-x"></use></svg>
    </button>
    <form class="rating-form">
      <span class="rating-text">Rating</span>
      <ul class="rate">
        <li class="rate-item">
          <span class="rating-choosed">0.0</span>
        </li>
        <li class="rate-item">
          <svg data-id="1">
            <use href="../img/icons.svg#"></use>
          </svg>
          *
        </li>
        <li class="rate-item">
          <svg data-id="2">
            <use href="../img/icons.svg#">*</use>
          </svg>
          *
        </li>
        <li class="rate-item">
          <svg data-id="3">
            <use href="../img/icons.svg#">*</use>
          </svg>
          *
        </li>
        <li class="rate-item">
          <svg data-id="4">
            <use href="../img/icons.svg#">*</use>
          </svg>
          *
        </li>
        <li class="rate-item">
          <svg data-id="5">
            <use href="../img/icons.svg#">*</use>
          </svg>
          *
        </li>
      </ul>
      <input
        class="rating-inp-e"
        type="email"
        name="email"
        placeholder="Email"
      />
      <textarea
        class="rating-inp-com"
        type="text"
        name="comment"
        placeholder="Your comment"
        rows="4"
      ></textarea>
      <button class="rating-submit" type="submit">Send</button>
    </form>
  </div>
</div>
