<!-- Modal -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal"></div>
</div>

<!-- Rating -->
<!-- TODO: Доробити модалку -->
<!--  is-hidden -->
<div class="backdrop" data-rating-modal>
  <div class="modal rating">
    <button class="rating-close-btn">
      <svg class="rating-close-icon">
        <use href="../img/icons.svg#icon-btn-x"></use>
      </svg>
    </button>
    <form class="rating-form">
      <span class="rating-text">Rating</span>
      <div class="rate">
        <span class="rating-choosed">0.0</span>
        <input
          type="radio"
          class="radial-button"
          name="radio-option"
          id="oneStar"
        />
        <label for="oneStar">
          <svg class="icon-star">
            <use href="../img/icons.svg#star-rate"></use>
          </svg>
        </label>

        <input
          type="radio"
          class="radial-button"
          name="radio-option"
          id="twoStar"
        />
        <label for="twoStar">
          <svg class="icon-star">
            <use href="../img/icons.svg#star-rate"></use>
          </svg>
        </label>

        <input
          type="radio"
          class="radial-button"
          name="radio-option"
          id="threeStar"
        />
        <label for="threeStar">
          <svg class="icon-star">
            <use href="../img/icons.svg#star-rate"></use>
          </svg>
        </label>
        <input
          type="radio"
          class="radial-button"
          name="radio-option"
          id="fourStar"
        />
        <label for="fourStar">
          <svg class="icon-star">
            <use href="../img/icons.svg#star-rate"></use>
          </svg>
        </label>
        <input
          type="radio"
          class="radial-button"
          name="radio-option"
          id="fiveStar"
        />
        <label for="fiveStar">
          <svg class="icon-star">
            <use href="../img/icons.svg#star-rate"></use>
          </svg>
        </label>
      </div>
      <!-- <div class="rate">
        <span class="rating-choosed">0.0</span>
        <svg class="icon-star" data-id="1">
          <use href="../img/icons.svg#star-rate"></use>
        </svg>
        <svg class="icon-star" data-id="2">
          <use href="../img/icons.svg#star-rate"></use>
        </svg>
        <svg class="icon-star" data-id="3">
          <use href="../img/icons.svg#star-rate"></use>
        </svg>
        <svg class="icon-star" data-id="4">
          <use href="../img/icons.svg#star-rate"></use>
        </svg>
        <svg class="icon-star" data-id="5">
          <use href="../img/icons.svg#star-rate"></use>
        </svg>
      </div> -->
      <input
        class="rating-inp-e"
        type="email"
        name="email"
        placeholder="Email"
      />
      <textarea
        class="rating-inp-com"
        type="text"
        name="comment"
        placeholder="Your comment"
        rows="4"
      ></textarea>
      <button class="rating-submit" type="submit">Send</button>
    </form>
  </div>
</div>
