<div class="modal-exersice-wrapper">
  <div class="modal-general">
    <button class="modal-general-close-btn">
      <svg class="modal-general-close-icon" width="34" height="32">
        <use href="./img/icons.svg#icon-btn-x"></use>
      </svg>
    </button>
    <div class="modal-general-info">
      <div class="modal-general-img">
        <img
          class="img-poppup"
          src=""
          id="modal-exersice-img"
          alt=""
          width="295"
        />
      </div>
      <div>
        <div class="modal-title">
          <h3 class="text-title-pop" id="modal-exersice-title"></h3>
        </div>
        <span class="modal-rating" id="modal-exersice-rating-number"></span>
        <div class="modal-stars" id="modal-exersice-rating"></div>
        <div class="modal-pup-up">
          <ul class="modal-pop-up-items">
            <li>
              <p class="text-popup-items">Target</p>
              <p class="target-name popup-items" id="modal-exersice-target"></p>
            </li>
            <li>
              <p class="text-popup-items">Body Part</p>
              <p
                class="body-part-name popup-items"
                id="modal-exersice-bodypart"
              ></p>
            </li>
            <li>
              <p class="text-popup-items">Equipment</p>
              <p
                class="equipment-name popup-items"
                id="modal-exersice-equipment"
              ></p>
            </li>
            <li>
              <p class="text-popup-items">Popular</p>
              <p class="popular popup-items" id="modal-exersice-popularity"></p>
            </li>
            <li>
              <p class="text-popup-items">Burned calories</p>
              <p
                class="how-much-calories popup-items"
                id="modal-exersice-burnedcalories"
              ></p>
            </li>
          </ul>
        </div>
        <p class="about-exr" id="modal-exersice-description"></p>
      </div>
    </div>

    <div class="modal-button">
      <button class="modal-add-favorates-btn">
        <span>Add favorites</span>
        <svg class="icon-heart">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
      </button>
      <!-- <button class="modal-rem-favorates-btn is-hidden">
        <span>Remove favorites</span>
        <svg class="icon-heart">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
      </button> -->
      <button class="modal-giv-rating-btn">
        <span>Give a rating</span>
      </button>
    </div>
  </div>
</div>
