body {
  /* background-color: #f4f4f4; */
}
.exercisesLeft {
  /* margin-left: 30px; */
  /* margin: 32px; */
  max-width: 375px;
  background-color: var(--primary-background-color);
}
/* todo DIV №1   */
.contain-one {
  border-radius: 20px;
  background-color: var(--primary-fontcolor);
  width: 100%;
  max-width: 335px;
  height: 188px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.ul-box-text-sect-one {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
  margin-bottom: 6px;
  padding-top: 20px;
}

.running-icon {
  /* stroke-width: 1.6px; */
  fill: var(--primary-background-color);
  stroke: rgba(244, 244, 244, 0.2);
  background: rgb(108, 110, 114);
  width: 34px;
  height: 32px;
  border-radius: 50%;
  display: block;
  /* text-align: center; */
}

.quote-text {
  font-size: 24px;
  font-style: normal;
  font-feature-settings: 'clig' off, 'liga' off;
  font-weight: 500;
  line-height: 1.33; /* line-height:32px (calc(32/24 fontsize)*/
  color: var(--primary-background-color);
  list-style: none;
  display: block;
  font-family: Neue Montreal;
}

.commas-icon {
  stroke-width: 1.6px;
  fill: var(--primary-background-color);
  width: 32px;
  height: 32px;
  /* display: block; */
  margin-right: 20px;
  /* text-align: center; */
}
.boxAutor {
  margin-left: 90px;
  margin-right: 40px;
}

.boxTextMidle-sect-one {
  color: rgba(244, 244, 244, 0.6);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--primary-fontweight);
  line-height: 1.28; /* line-height:32px (calc(32/18 fontsize)*/
  margin-bottom: 18px;
}

.boxTextDown-sect-one {
  font-family: Neue Montreal;
  font-size: 16px;
  font-style: normal;
  font-weight: var(--primary-fontweight);
  line-height: 1.5; /* line-height:24px (calc(24/16 fontsize)*/
  color: var(--primary-background-color);
  text-align: left;
}

/* todo DIV №2   */

/* .contain-two-foto {
  border-radius: 20px;
  width: 335px;
  min-height: 242px;
  background-image: url(../img/mobile/women-sportswear-taking-mobile.png);
  margin-bottom: 32px;
} */
.contain-two-foto {
  border-radius: 20px;
  max-width: 335px;
  /* width: 335px; */
  width: 100%;
  min-height: 242px;
  background-image: url(../img/mobile/women-sportswear-taking-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-position: center;
  margin-bottom: 32px;
  /* padding-bottom: 32px; */
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .contain-two-foto {
    background-image: url(../img/mobile/women-sportswear-taking-mobile@2x.png);
  }
}

/* todo DIV №3   */
.contain-three {
  border-radius: 20px;
  background-color: #fff;
  max-width: 335px;
  width: 100%;
  /* min-height: 203px; */
  /* max-height: 203px; */
  height: 203px;
  /* max-height: 315px; */
  overflow-x: hidden;
  margin: 0 auto;
}

.box-three-list {
  align-items: center;
  /* margin: 0px, 50px, 10px, 0px; */
  /* margin-left: 0px; */
  margin: auto;
  gap: 16px;
  padding-left: 20px;
  padding-top: 20px;
}

.fluent-icon {
  fill: rgba(244, 244, 244, 1);
  stroke: rgba(244, 244, 244, 0.2);
  background: var(--primary-fontcolor);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: block;
}

.hundr-minutes {
  display: block;
  margin: auto;
}

.box-three-list {
  display: flex;
  color: var(--primary-fontcolor);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Neue Montreal;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33; /* line-height:32px (calc(32/24 fontsize)*/
  list-style: none;
}

.box-three-down {
  max-width: 314px;
  /* width: 100%; */
  min-height: 105px;
  margin-left: 71px;
  margin-right: 20px;
  /* padding: 5px; */
  /* margin-bottom: 40px; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* word-wrap: break-word; */
  /* word-break: break-all; */
}

.text-daily-norm {
  color: rgba(36, 36, 36, 0.6);
  margin-bottom: 16px;
}

.text-the-world-health {
  /* display: inline-block; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* word-wrap: break-word; */
  /* word-break: break-all; */
  /* vertical-align: top; */
  color: var(--primary-fontcolor);
  white-space: nowrap;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--primary-fontweight);
  line-height: 1.28; /* line-height:18px (calc(18/14 fontsize)*/
}

/*  ****************************  @MEDIA ********************************/
/*   ********************************************************************/
/* todo ******************** (min-width: 428px) *************************/
/* todo ******************** (min-width: 768px) *************************/
@media screen and (min-width: 768px) {
  .exercisesLeft {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 16px;
    /* margin: 32px; */
    max-width: 768px;
    max-width: 100%;
    max-height: 258px;
    background-color: var(--primary-background-color);
  }

  .contain-one {
    /* display: block; */
    border-radius: 20px;
    background-color: var(--primary-fontcolor);
    /* background-color: #443a3a5b; */
    max-width: 400px;
    width: 100%;
    min-height: 249px;
    /* border: 1.5px solid#29adce; */
    margin: 0;
    margin-bottom: 32px;
  }

  /* .contain-two-foto {
    border-radius: 20px;
    background-image: url(../img/tablet/women-sportswear-taking-tablet.png);
    max-width: 288px;
    min-height: 258px;
    background-size: cover;
  } */

  .contain-two-foto {
    border-radius: 20px;
    max-width: 288px;
    width: 100%;
    min-height: 249px;
    background-image: url(../img/tablet/women-sportswear-taking-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-position: center;
    margin-bottom: 32px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contain-two-foto {
      background-image: url(../img/tablet/women-sportswear-taking-tablet@2x.png);
    }
  }

  .contain-three {
    display: block;
    border-radius: 20px;
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    /* min-height: 249px; */
    height: 249px;
    /* border: 1.5px solid #29adce; */
    overflow: hidden;
    margin: 0;
  }

  .box-three-list {
    display: flex;
    color: var(--primary-fontcolor);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Neue Montreal;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33; /* line-height:32px (calc(32/24 fontsize)*/
    list-style: none;
    margin-bottom: 16px;
  }
  .box-three-down {
    /* line-height: 18px; 128.571% */
    max-width: 270px;
    /* width: 100%; */
    margin-left: 90px;
    margin-right: 40px;
    margin-bottom: 40px;
    /* min-height: 350px; */
    /* padding-bottom: 40px; */
    /* margin: 6px, 40px, 40px, 90px; */
  }
  .text-daily-norm {
    color: rgba(36, 36, 36, 0.6);
    margin-bottom: 16px;
  }
  .text-the-world-health {
    overflow: hidden;
    color: var(--primary-fontcolor);
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: var(--primary-fontweight);
  }
}

/* todo ******************** (min-width: 1440px) *************************/
@media screen and (min-width: 1440px) {
  .exercisesLeft {
    /* margin: 32px; */
    max-width: 444px;
    background-color: var(--primary-background-color);
  }

  .contain-one {
    border-radius: 20px;
    background-color: var(--primary-fontcolor);
    max-width: 444px;
    min-height: 230px;
    width: 100%;
    margin-bottom: 32px;
  }
  .ul-box-text-sect-one {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
    margin-bottom: 6px;
    padding-top: 40px;
  }
  .commas-icon {
    stroke-width: 1.6px;
    fill: var(--primary-background-color);
    width: 32px;
    height: 32px;
    /* display: block; */
    margin-left: 80px;
    /* text-align: center; */
  }

  .contain-two-foto {
    border-radius: 20px;
    max-width: 444px;
    width: 100%;
    min-height: 242px;
    background-image: url(../img/desktop/women-sportswear-taking.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position: center;
    margin-bottom: 32px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contain-two-foto {
      background-image: url(../img/desktop/women-sportswear-taking@2x.png);
    }
  }

  .contain-three {
    border-radius: 20px;
    background-color: #fff;
    max-width: 444px;
    width: 100%;
    min-height: 315px;
    /* max-height: 315px; */
    /* border: 1.5px solid #29adce; */
    /* overflow-x: hidden; */
  }
  .box-three-list {
    display: flex;
    color: var(--primary-fontcolor);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Neue Montreal;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33; /* line-height:32px (calc(32/24 fontsize)*/
    list-style: none;
  }
  .box-three-down {
    /* line-height: 18px; 128.571% */
    max-width: 270px;
    /* width: 100%; */
    margin-left: 90px;
    margin-right: 40px;
    margin-bottom: 40px;
    /* padding-bottom: 40px; */
    /* margin: 6px, 40px, 40px, 90px; */
  }
  .text-daily-norm {
    color: rgba(36, 36, 36, 0.6);
  }
  .text-the-world-health {
    overflow: hidden;
    color: var(--primary-fontcolor);
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: var(--primary-fontweight);
  }
}
