.favorites-container {
    display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 375px;
  }
  .favorites{
    padding-bottom: 100px;
  }
  .favorites-left {
  margin: 0 20px;
  width: 335px;
  height: 437px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  }
  .favorites-contain-one{
    width: 335px;
  height: 159px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--footer-background-color);
  }
  .favorites-contain-two{
    box-sizing: border-box;
  display: inline-flex;
  padding: 20px 196px 20px 20px;
  width: 335px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border-radius: 20px;
  background: #FFF;
  }
  .favorites-contain-photo{
  height: 119px;
  flex-shrink: 0;
  }
  .favorites-photo-mob{
    border-radius: 20px;
  }
  .favorites-right {
  margin: 5px 20px;
  padding-bottom: 80px;
  width: 335px;
  height: 670px;
  border-radius: 10px;
  background: #fff;
  }
  
  .favorites-title {
    color: var(--footer-background-color);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: -0.02em;
    padding-bottom: 20px;
  }
  
  .favoritesMessage {
    color: var(--footer-background-color);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    width: 318px;
    text-align: center;
    margin: o auto;
    
  }
  .favorites{
    display: flex;
    flex-direction: column;
      gap: 20px;
      justify-content: flex-start;
      margin: 0 auto;
  }
  .favorites-card-item {
  width: 335px;
  height: 141px;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
  }
  .workout {
    width: 75px;
    height: 24px;
    color: var(--footer-background-color);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 5px 7.5px;
  border-radius: 15px;
  border: 1px solid var(--footer-background-color);
  margin-right: 16px;
  }
  .trash-icon {
    margin-left: 8px;
  }
  .favorites-start {
    color: var(--footer-background-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  width: auto;
  margin-right: 8px;
  }
  .favorites-header-arrow {
  stroke: var(--footer-background-color);
  padding-top: 3px;
  }
  .favorites-name {
    height: 24px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  }
  .favorites-name-svg {
    margin-right: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 12px;
  }
  .favorites-name-svg-svg {
    fill: white;
  }
  .favorites-name-text {
    color: var(--footer-background-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  }
  .exr-item-name-text::first-letter {
    text-transform:capitalize;
  }
  .description{
    height: 18px;
  display: flex;
  flex-direction: row;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  }
  .description-burned-grey {
    color: rgba(36, 36, 36, 0.40);
  margin-right: 2px;  
  width: 83px;
  }
  .description-burned-normal {
    color: var(--footer-background-color);
    margin-right: 10px;
  width: 51px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  }
  .description-part-grey {
    color: rgba(36, 36, 36, 0.4);
    margin-right: 2px;
    width: 53px;
  }
  
  .description-part-normal {
    color: var(--footer-background-color);
    margin-right: 10px;
    width: 31px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .description-part-normal::first-letter {
    text-transform:capitalize;
  }
  
  .description-target-grey {
    color: rgba(36, 36, 36, 0.4);
    margin-right: 2px;
    width: 35px;
  }
  
  .description-target-normal {
    color: var(--footer-background-color);
    width: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .description-target-normal::first-letter {
    text-transform:capitalize;
  }
  
  
  @media screen and (min-width: 768px) {
  .favorites-container {
    width: 768px;
      display: flex;
  flex-direction: column;
  }
  
  .favorites-left {
    margin: 0 32px;
    width: 704px;
    height: 377px;
    padding-bottom: 64px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .favorites-contain-one{
    width: 704px;
  height: 220px;
  }
  .favorites-contain-two{
  display: flex;
  width: 344px;
  padding: 25px 200px 25px 25px;
  }
  .favorites-contain-photo{
  height: 141px;
  }
  .favorites-photo-mob{
    width: 344px;
  }
  .favorites-right {
    margin: 5px 32px;
    width: 704px;
  }
  .favorites-title {
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.002em;
  padding-bottom: 32px;
  padding-top: 68px;
  }
  
  .favoritesMessage {
    font-size: 18px;
    line-height: 1.33;
    width: 554px;
  }
  .favorites{
    flex-direction: row;
      flex-wrap: wrap;
      row-gap: 32px;
  column-gap: 16px;
  justify-content: center;
  }
  
  .favorites-card-item {
    width: 344px;
  }
  .favorites-star {
    margin-right: 126px;
  }
  
  .description-burned-grey {
    margin-right: 4px;
  }
  
  .description-burned-normal {
    width: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    }
  
  .description-part-grey {
    margin-right: 4px;
  }
  
  .description-target-grey {
    margin-right: 4px;
  }
  }
  
  @media screen and (min-width: 1440px) {
  .favorites-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 1378px;
  }
  .favorites-title {
  padding-bottom: 44px;
    }
  .favorites-left {
    margin: 0;
    width: 494px;
    height: 386px;
    padding-bottom: 151px;
  }
  .favorites-contain-one{
    width: 494px;
  height: 230px;
  }
  .favorites-contain-two{
  display: inline-flex;
  width: 239px;
  padding: 25px 95px 25px 25px;
  }
  .favorites-contain-photo{
  width: 239px;
  }
  .favorites-photo-mob{
    width: 239px;
  }
  .favorites-right {
    margin: 0;
    padding-bottom: 80px;
    width: 900px;
    min-height: 487px;
    height: 100%;
  }
  
  .favorites-card-item {
  width: 405px;
  }
  .favorites-star {
    margin-right: 224px;
  }
  
  .description-burned-normal {
    margin-right: 16px;
    width: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    }
  
  .description-part-normal {
    margin-right: 16px;
    width: 37px;
  }
  
  .description-target-normal {
    width: 90px;
  }
  }