.footer {
  background-color: var(--footer-background-color);
}

.footer-container {
  padding: 40px 20px 20px;
}

.footer-logo {
  fill: var(--footer-fontcolor);
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.footer-icon {
  width: 44px;
  height: 44px;
  border: 1px solid #f4f4f41a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-icon:hover {
  background-color: var(--footer-fontcolor);
}

.soc-svg {
  fill: var(--footer-fontcolor);
  /* transition: fill 0.5s; */
}

.footer-icon:hover .soc-svg {
  fill: var(--footer-background-color);
  transition: fill 0.5s;
}

.footer-title {
  color: var(--footer-fontcolor);
  font-size: 40px;
  margin-bottom: 20px;
  font-family: Neue Montreal;
  max-width: 335px;
  width: 100%;
  font-weight: 400;
  line-height: 1.2;
}

.subscribe-title {
  color: var(--footer-fontcolor);
  font-size: 14px;
  margin-bottom: 20px;
  /* max-width: 247px; */
  width: 100%;
  font-family: Neue Montreal;
  font-weight: 400;
  line-height: 1.3;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.form-input {
  max-width: 335px;
  width: 100%;
  height: 42px;
  background-color: transparent;
  border: 1px solid var(--footer-fontcolor);
  border-radius: 100px;
  padding-left: 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  color: var(--footer-fontcolor);
}

.subscribe-btn {
  max-width: 335px;
  width: 100%;
  height: 42px;
  border: 1px solid var(--footer-fontcolor);
  border-radius: 100px;
  font-size: 14px;
  line-height: 1.3;
  /* border-color: var(--footer-background-color); */
}

.subscribe-btn:hover {
  background-color: transparent;
  border-color: var(--footer-fontcolor);
  color: var(--footer-fontcolor);
}

.footer-text {
  font-family: Neue Montreal;
  color: #c6cdd1;
  font-size: 14px;
  line-height: 1.3;
}

.footer-text a {
  text-decoration: underline;
}

.footer-text p {
  margin-bottom: 10px;
}

.footer-policy {
  display: flex;
  justify-content: space-between;
}

.footer-policy a {
  text-decoration: none;
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscribe-title {
    text-align: center;
  }

  .footer-title {
    text-align: center;
  }

  .footer-link-logo {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-container {
    padding: 64px 32px 32px;
  }

  .footer-wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer-title {
    max-width: 470px;
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 32px;
  }

  .subscribe-title {
    max-width: 317px;
    font-size: 18px;
  }

  .subscribe-btn {
    max-width: 350px;
    height: 48px;
    font-size: 16px;
  }

  .form-input {
    max-width: 350px;
    height: 48px;
    font-size: 16px;
  }

  .footer-text {
    display: flex;
    justify-content: space-between;
  }

  .footer-policy {
    max-width: 470px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    display: flex;
    gap: 150px;
  }

  .footer-socials {
    min-width: 190px;
  }

  .footer-block-form {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .footer-form {
    max-width: 350px;
    width: 100%;
  }

  .form-input {
    border-radius: 30px;
  }

  .footer-policy {
    width: 100%;
  }

  .footer-copyright {
    max-width: 350px;
    width: 100%;
  }

  .footer-text {
    display: flex;
    gap: 150px;
  }

  .footer-text > p {
    min-width: 190px;
  }
}
