.go-top {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.go-top-show {
  display: block;
}

.go-top-btn {
  color: #ffffff;
  font-family: 'Neue Montreal', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--footer-background-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border: 2px solid var(--primary-background-color);
  /* transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: transform 200ms ease;
}

.go-top-btn div {
  display: flex;
}

.go-top-btn-icon {
  fill: var(--primary-background-color);
  height: 26px;
  width: 26px;
}

.go-top-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .go-top-btn {
    width: 60px;
    height: 60px;
  }

  .go-top-btn-icon {
    height: 26px;
    width: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .go-top-btn {
    width: 80px;
    height: 80px;
  }

  .go-top-btn-icon {
    height: 30px;
    width: 30px;
  }
}
