.header {
  display: block;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .header-container {
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-container {
    padding-top: 28px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 90px;
  }
}
.header-nav-list {
  display: none;
}
.header-addresses {
  display: none;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 20px;
    border: solid;
    border-radius: 60px;
    width: 265px;
    height: 52px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-fontcolor);
    color: var(--primary-background-color);
    font-family: 'Neue Montreal';
  }
  .header-addresses {
    display: flex;
  }
}

.header-nav-item {
  /* width: 66px;
  height: 36px;
  background-color: #f4f4f4;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.favorites {
  background-color: var(--primary-fontcolor);
  color: #f4f4f4;
  width: 87px;
  height: 36px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
}

.homepage {
  width: 66px;
  height: 36px;
  background-color: #f4f4f4;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: #242424;
}

.favorites:active {
  background-color: #f4f4f4;
  color: #242424;
}
.favorites:active .homepage {
  background-color: #242424;
  color: #f4f4f4;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-link {
  width: 66px;
  height: 36px;
  background-color: #f4f4f4;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
}

/* Addresses */

.header-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: background-color 0.5s;
  border: solid 1px #2424241a;
  border-radius: 10px;
}

.header-socials-link:hover {
  background-color: #242424cc;
}

.header-socials-link:hover .header-social-icon {
  fill: var(--primary-background-color);
}

.header-social-icon {
  fill: #242424cc;
  transition: fill 0.5s;
}

.header-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.header-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile menu */
.menu-toggle {
  min-height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.mobile-menu-icon {
  fill: black;
  stroke: black;
}
.modal-close-icon {
  fill: var(--primary-background-color);
  stroke: var(--primary-background-color);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  width: 25px;
  height: 25px;
}

.menu-container {
  background-color: #242424;
  width: 210px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  z-index: 2;
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: 32px;
  min-height: 32px;
}

.mobile-menu {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  margin-top: 280px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.mobile-link {
  color: var(--primary-background-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Neue Montreal';
}

/* .mobile-link:hover,
.mobile-link:focus,
.mobile-link:active {
} */

/* Mobile social links */
.mobile-addresses {
  position: absolute;
  bottom: 20px;
  left: 27px;
}
.mobile-socials {
  list-style: none;
  display: flex;
  gap: 12px;
  justify-content: center;
}
/* .mobile-socials-item {
} */
.mobile-socials-link:hover {
  background-color: var(--primary-background-color);
}
.mobile-socials-link:hover .social-icon {
  fill: #242424cc;
}

.social-icon {
  fill: var(--primary-background-color);
}
.mobile-socials-link {
  width: 44px;
  height: 44px;
  border: 1px solid #f4f4f41a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
