

.container-hero{
    max-width: 335px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
   
}

.hero-title {
    color: var(--primary-fontcolor);
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.8px;
    margin-bottom: 20px;
    min-width: 335px;
   
    
}

.hero-title span {
    color: var(--primary-fontcolor);
    font-family: var(--primary-font);
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.8px;
}

.hero-text {
    color: var(--primary-fontcolor);
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin-bottom: 36px;
    min-width: 335px;
    max-height: 36px;
}

.hero-img{
margin-bottom: 20px;
border-radius: 30px;

}

.hero-list{
    display: flex;
   justify-content: center;
    min-width: 334px;
    gap: 6px;
   
}

.hero-item{
    color: var(--primary-fontcolor);
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 18px;
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid var(--primary-fontcolor);
}
