.hero-title-icon {
  
}
.container-hero {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.title-icon {
}
.hero-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 335px;
} 

.hero-title span {
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.8px;
}

.hero-text {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.28px;
  margin-bottom: 40px;
}

.hero-img {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 20px;
}

.hero-list {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.hero-item {
  width: calc((100% - 18) / 4);
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid var(--primary-fontcolor);
}

.list-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-hero {
    padding-left: 32px;
    padding-right: 32px;
  }

  .hero-title {
    font-size: 74px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -1.48px;
    min-width: 593px;
  }

  .hero-text {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.36px;
    max-width: 528px;
  }

  .hero-title span {
    font-size: 74px;
    font-style: italic;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -1.48px;
  }

  .hero-item {
    font-size: 16px;
    line-height: 1.5;
  }

  .hero-list {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    font-size: 74px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -1.48px;
    min-width: 593px;
  }

  .hero-list-img {
    display: flex;
    flex-direction: column;
    max-width: 182px;
    
  }

  .hero-list {
    flex-wrap: wrap;
    justify-content: right;
  }

  .list-img {
    display: unset;
    border-radius: 30px;
    margin-bottom: 30px;
  }
}
