input[type='radio'] {
  display: none;
}

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(4, 4, 4, 0.4);
  width: 100%;
  height: 100%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 100%;
  max-width: 335px;
  position: relative;
}

.rating {
  background-color: var(--footer-background-color);
  border-radius: 20px;
  padding: 40px 20px;
}

.rating-close-btn {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
  font-size: 0;
  border: 0;
  background-color: transparent;
}

.rating-close-icon {
  stroke: #f4f4f4;
  width: 100%;
  height: 100%;
}

.rating-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-text {
  color: rgba(244, 244, 244, 0.4);
  align-self: flex-start;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.rate {
  display: flex;
  align-items: center;
  gap: 2px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.rating-choosed {
  color: var(--footer-fontcolor);
  font-size: 12px;
  line-height: 1.5;
  width: 17px;
}

.icon-star,
.icon-star-exr {
  fill: rgba(244, 244, 244, 0.2);
  width: 24px;
  height: 24px;
}

.icon-star-highlight {
  fill: #eea10c;
}

.rating-inp-e {
  width: 100%;
  padding: 12px 14px;
  border-radius: 30px;
  border: 1px solid #f4f4f4;
  margin-bottom: 10px;
  background-color: var(--footer-background-color);
  color: #f4f4f4;
}

.rating-inp-com {
  width: 100%;
  padding: 12px 14px;
  resize: none;
  border-radius: 15px;
  border: 1px solid #f4f4f4;
  margin-bottom: 20px;
  background-color: var(--footer-background-color);
  color: #f4f4f4;
}

.rating-inp-com::-webkit-scrollbar {
  display: none;
}

.rating-inp-e:focus-visible,
.rating-inp-com:focus-visible {
  outline: 0;
}

.rating-submit {
  width: 100%;
  border: 0;
  border-radius: 30px;
  background: #f4f4f4;
  padding: 12px 131px;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 430px;
  }

  .rating {
    background-color: var(--footer-background-color);
    border-radius: 20px;
    padding: 40px 40px;
  }

  .rate {
    margin-bottom: 32px;
  }

  .rating-close-btn {
    max-width: 28px;
    max-height: 28px;
  }
}

@media screen and (min-width: 1440px) {
}
