.modal-exersice-wrapper,
.modal-rating-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.overlay {
  left: 0;
  right: 0;
  position: fixed;
  background-color: #00000082;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
}

.modal-exercise-open .overlay,
.modal-rating-open .overlay,
.modal-exercise-open .modal-exersice-wrapper,
.modal-rating-open .modal-rating-wrapper {
  display: block;
}

.backdrop-exr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

.modal-pop-up-items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border-bottom: 1px solid rgba(244, 244, 244, 0.2);
  border-top: 1px solid rgba(244, 244, 244, 0.2);
  padding: 8px 0;
  margin-bottom: 24px;
}
.about-exr {
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  max-width: 295px;
  width: 100%;
}

.modal-general {
  background-color: rgba(36, 36, 36, 1);
  color: rgba(244, 244, 244, 1);
  margin: auto;
  width: calc(100% - 20px);
  padding: 40px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  right: 10px;
  top: 10px;
  align-items: center;
  justify-content: center;

  max-width: 350px;
  position: relative;
}

/* .modal-open {
  position: fixed;
}

.modal-open > .nested-2 {
  display: block;
}

.modal-open > .modal-window {
  display: block;
}

.overlay {
  display: none;
}

.modal-window {
  display: none;
} */

.modal-general-close-btn {
  position: absolute;
  right: 20px;
  top: 14px;
  width: 100%;
  height: 100%;
  width: 24px;
  height: 24px;
  font-size: 0;
  border: 0;
  background-color: transparent;
  padding: auto;
}

.modal-general-close-icon {
  stroke: #f4f4f4;
  width: 24px;
  height: 24px;
}
.modal-general-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.modal-title {
  display: block;
  right: 20px;
  top: 20px;
}

.text-title-pop {
  font-family: Neue Montreal;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.popup-items {
  font-family: Neue Montreal;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(244, 244, 244, 1);

  gap: 4px;
}
.text-popup-items {
  font-family: Neue Montreal;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(244, 244, 244, 0.4);
  margin-bottom: 4px;
}

.modal-general-img {
  display: flex;
  justify-content: center;
}

.img-poppup {
  border-radius: 12px;
  max-width: 100%;
}
.modal-button {
  display: flex;
  align-items: center;
  padding: 20px 0px 0px 0px;
  font-size: 14px;
  width: 100%;
}

.modal-add-favorates-btn {
  display: flex;
  border: 0;
  font-size: 14px;
  border-radius: 30px;
  background: #f4f4f4;
  color: rgba(36, 36, 36, 1);
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  height: 42px;
  max-width: 167px;
  width: 100%;
}

.modal-star {
  background: url('../img/star-transparent.png');
  max-width: 100px;
  height: 18px;
  width: 100%;
}

.icon-star-exr {
  fill: #f4f4f433;
  width: 24px;
  height: 24px;
}

.modal-add-favorates-btn:hover {
  background-color: transparent;
  border-color: var(--footer-fontcolor);
  color: var(--footer-fontcolor);
  border: solid 1px var(--footer-fontcolor);
}

.modal-add-favorates-btn:hover .icon-heart {
  stroke: white;
}

.icon-heart {
  stroke: #242424;
  width: 18px;
  height: 18px;
  background-color: transparent;
  fill: none;
  margin-left: 6px;
}

.modal-giv-rating-btn {
  border: 1px solid #f4f4f4;
  border-radius: 30px;
  background: rgba(36, 36, 36, 1);
  color: #f4f4f4;
  height: 42px;
  width: 122px;
}

@media only screen and (max-width: 768px) {
  .modal-exersice-wrapper {
    left: 0;
    top: 0;
    right: 0;
    transform: unset;
  }
}

@media only screen and (min-width: 768px) {
  .popup-body {
    max-width: 708px;
    max-height: 435px;
    display: flex;
    flex-direction: column;
  }

  .modal-general {
    border-radius: 20px;
    gap: 20px;
    max-width: 710px;
    width: 100%;
    min-height: 435px;
  }

  .modal-general-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-exr {
    max-width: 342px;
  }

  .modal-general-info {
    flex-direction: unset;
  }
}

.modal-rating {
  font-size: 12px;
}

.modal-stars {
  --star-background: #eea10c;
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: 18px;
  font-family: Times;
  line-height: 1;
  margin-bottom: 16px;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      var(--star-background) var(--percent),
      #f4f4f42e var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.rate-wrapper {
  height: 18px;
  padding: 0 10px;
}
.rate-wrapper:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate-wrapper:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 18px;
  color: #ccc;
}
.rate-wrapper:not(:checked) > label:before {
  content: '★ ';
}
.rate-wrapper > input:checked ~ label {
  color: #ffc700;
}
.rate-wrapper:not(:checked) > label:hover,
.rate-wrapper:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate-wrapper > input:checked + label:hover,
.rate-wrapper > input:checked + label:hover ~ label,
.rate-wrapper > input:checked ~ label:hover,
.rate-wrapper > input:checked ~ label:hover ~ label,
.rate-wrapper > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
