/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./favorites.css');
@import url('./favorites-left.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./modal-rating.css');
@import url('./go-top.css');

@font-face {
  font-family: 'Neue Montreal';
  src: local('../fonts/NeueMontreal-Italic'),
    local('../fonts/Neue-Montreal-Italic'),
    url('../fonts/NeueMontreal-Italic.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Italic.woff') format('woff'),
    url('../fonts/NeueMontreal-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: local('../fonts/Neue Montreal Medium'),
    local('../fonts/Neue-Montreal-Medium'),
    url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Medium.woff') format('woff'),
    url('../fonts/NeueMontreal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: local('../fonts/Neue Montreal Regular'),
    local('../fonts/Neue-Montreal-Regular'),
    url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Regular.woff') format('woff'),
    url('../fonts/NeueMontreal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: 'Neue Montreal', sans-serif;
  --primary-fontsize: 16px;
  --primary-fontweight: 400;
  --primary-fontcolor: #242424;
  --primary-background-color: #f4f4f4;
  --footer-fontcolor: #f4f4f4;
  --footer-background-color: #242424;

  /* 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

body {
  background: var(--primary-background-color);
  font-family: var(--primary-font);
  color: var(--primary-fontcolor);
  font-size: var(--primary-fontsize);
  font-weight: var(--primary-fontweight);
}
